.form-login{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.form__header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 350px;
    text-align: center;
}

.form__header img{
    width: 200px;
}

.form__header h1{
    font-size: 1.5em;
    color: var(--primary-color);
}

.form__main{
    display: flex;
    flex-direction: column;
    min-width: 350px;
    gap: 10px;
    justify-content: center;
}

.form__main input{
    outline: none;
    padding: 15px;
    border-radius: 8px;
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
    box-shadow: 3px 3px var(--primary-color);
}

.form__main button{
    padding: 15px;
    border-radius: 8px;
    background-color: var(--second-color);
    color: var(--third-color);
    cursor: pointer;
}

.form__main button:disabled{
    opacity: 0.5;
}
