@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    font-family: 'Press Start 2P', cursive;
}

:root {
    --primary-color: #333;
    --second-color: #ee665c;
    --third-color: #fff;
    --fourth-color: rgb(228, 228, 228);
    --fifth-color: #aaa;
    --sixth-color: #39813a;
}